<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast_id" data-bs-autohide="true">
        <div class="toast-header">
            <strong class="me-auto text-success" id="notification_head_strong_id">

            </strong>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="notification_body_id">

        </div>
    </div>
</div>