<div class="row my-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Store</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Razer Deathadder Elite</td>
            <td>1</td>
            <td>Ma Babar Doa</td>
            <td>4500</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="text-center">
            <a type="button" class="btn btn-success" href="#">Buy</a>
        </div>
    </div>
</div>
