{% extends 'base/customer-base.html' %}

{% block buying_history %}

    <h1 class="mt-4">History</h1>

    <div class="row my-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Item</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Store</th>
                <th class="text-center">Date Delivered</th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>
                    <td class="text-center">
                        {{ order.product }}
                    </td>
                    <td class="text-center">
                        {{ order.quantity }}
                    </td>
                    <td class="text-center">
                        {{ order.seller.shop_name }}
                    </td>
                    <td class="text-center">
                        {{ order.order_set.date }}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}