{% extends 'base/customer-base.html' %}

{% block ordered_product_status %}

    <h1 class="mt-4">Product Status</h1>

    <div class="row my-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Item</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Order Date</th>
                <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ order.product.name }}</td>
                    <td class="text-center">{{ order.quantity }}</td>
                    <td class="text-center">{{ order.order_set.date }}</td>
                    <td class="text-center">
                        {% if order.status.id is 1 %}
                            <span class="badge rounded-pill text-bg-warning">{{ order.status }}</span>
                        {% elif order.status.id is 2 %}
                            <span class="badge rounded-pill text-bg-success">{{ order.status }}</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-info">{{ order.status }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}