<div class="row">
    <div class="d-flex justify-content-between">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h3>Wallet</h3>
                </div>
                <div class="row mx-1">
                    <div class="col-8">
                        <h4>
                            <div class="text-start text-dark">
                                <h6>
                                    Recharge via
                                    <a data-bs-toggle="modal" href="#recharge_modal_toggle" class="text text-dark recharge-method" data-method="Bkash"> Bkash </a> /
                                    <a data-bs-toggle="modal" href="#recharge_modal_toggle" class="text text-dark recharge-method" data-method="Nagad"> Nagad</a>
                                </h6>
                            </div>
                        </h4>
                    </div>
                    <div class="col-4">
                        <div class="text-end">
                            <h2 id="current_wallet_amount">898 </h2>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h3>Order Summary</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">In Cart</div>
                                </div>
                                <div class="row">
                                    <div class="text-center" id="cart_count">{{ cart_size }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">Processing</div>
                                </div>
                                <div class="row">
                                    <div class="text-center">40</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">Delivered</div>
                                </div>
                                <div class="row">
                                    <div class="text-center">30</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h3>Transaction Summary</h3>
                    {#                    Summary Information #}
                    <div class="row">

                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">Recharged</div>
                                </div>
                                <div class="row">
                                    <div class="text-center">30</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">Spent</div>
                                </div>
                                <div class="row">
                                    <div class="text-center">40</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-black-50">
                                <div class="row">
                                    <div class="text-center">In Wallet</div>
                                </div>
                                <div class="row">
                                    <div class="text-center">30</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
