{% extends 'base/seller_base.html' %}
{% load static %}

{% block seller_home %}
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #ffffff !important;
        }

        .user_card {
            width: 700px;
            margin-top: auto;
            margin-bottom: auto;
            background: #a370f7;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }

        .form_container {
            margin-top: 20px;
        }

        #form-title {
            color: #fff;
        }

        .login_btn {
            width: 100%;
            background: #7649f9 !important;
            color: white !important;
        }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: #f7ba5b !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
    </style>

    {% include 'seller/summary_cards.html' %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">REGISTER A PRODUCT</h3>
                </div>
                <div class="d-flex justify-content-center form_container">

                    <form class="row g-3">
                        <div class="col-12">
                            <label for="inputEmail4" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">Price</label>
                            <input type="number" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="inputPassword4">
                        </div>

                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">Warranty</label>
                            <input type="number" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="inputAd dress" placeholder="1234 Main St">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Category</label>
                            <input type="text" class="form-control" id="inputAd dress"
                                   placeholder="Household,electronics etc.">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Description</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Description">
                        </div>


                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}
