{% extends 'base/seller_base.html' %} 
{% load static %} 
{% block seller_home %}
<style>
    /* Chrome, Safari, Edge, Opera */
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    
    input[type=number] {
        -moz-appearance: textfield;
    }
    
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #ffffff !important;
    }
    
    .user_card {
        width: 700px;
        margin-top: auto;
        margin-bottom: auto;
        background: #a370f7;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    
    .form_container {
        margin-top: 20px;
    }
    
    #form-title {
        color: #fff;
    }
    
    .login_btn {
        width: 100%;
        background: #7649f9 !important;
        color: white !important;
    }
    
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    
    .login_container {
        padding: 0 2rem;
    }
    
    .input-group-text {
        background: #f7ba5b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
</style>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">REGISTER A PRODUCT</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
            <form method="POST" class="row g-3" action="{%url 'seller:product_register' %}" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="col-12">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="name" placeholder="Product Name">
            </div>
            <div class="col-md-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" placeholder="Price">
            </div>
                    <div class="col-md-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" name="quantity" placeholder="Quantity">
            </div>
            <div class="col-md-3">
                <label for="warranty" class="form-label">Warranty</label>
                <input type="number" class="form-control" name="warranty" placeholder="Warranty">
            </div>
            <div class="col-md-6">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" name="brand" placeholder="Brand">
            </div>
                
            <div class="col-md-6">
                <label class="form-label" for="category" searchable="Find...">Category2</label>
                <select class="form-select" name="category">
                    <option selected disabled>Choose...</option>
                    <optgroup label="Home Utility">  
                        <option value="Home Decor">Home Decor</option>
                        <option value="Bedding">Bedding</option>
                        <option value="Furnitures">Furnitures</option>
                        <option value="Kitchenwear">Kitchenwear</option>
                        <option value="Garden Items">Garden Items</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Lamp and Lighting">Lamp and Lighting</option>
                        <option value="Rerigerators">Rerigerators</option>
                        <option value="Washing Machine">Washing Machine</option>
                        <option value="Air Conditioner">Air Conditioner</option>
                    </optgroup>

                    <optgroup label="Computer Accessories">  
                        <option value="Casing">Casing</option>
                        <option value="Cooler">Cooler</option>
                        <option value="Graphics Card">Graphics Card</option>
                        <option value="Keyboard">Keyboard</option>
                        <option value="Monitor">Monitor</option>
                        <option value="Motherboard">Motherboard</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Power Supply">Power Supply</option>
                        <option value="Processor">Processor</option>
                        <option value="Storage">Storage</option>
                    </optgroup>

                    <optgroup label="Fashion">  
                        <option value="Bags">Bags</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Eyewear">Eyewear</option>
                        <option value="Jewellery">Jewellery</option>
                        <option value="Luggage">Luggage</option>
                        <option value="Wallet">Wallet</option>
                        <option value="Watches">Watches  </option>
                    </optgroup>

                    <optgroup label="Electronics">  
                        <option value="Camera">Camera</option>
                        <option value="Cell Phones">Cell Phones</option>
                        <option value="Console">Console</option>
                        <option value="Drones">Drones</option>
                        <option value="TV">TV</option>
                        <option value="Vehicle">Vehicle</option>
                    </optgroup>

                    <optgroup label="Health">  
                        <option value="Eyecare">Eyecare</option>
                        <option value="Hair and skin">Hair and skin</option>
                        <option value="Makeup">Makeup</option>
                        <option value="Fragrance">Fragrance</option>
                    </optgroup>

                    <optgroup label="Sports">  
                        <option value="Cycling">Cycling</option>
                        <option value="Fishing">Fishing</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Indoor">Indoor</option>
                        <option value="Outdoor">Outdoor</option>
                    </optgroup>       
                </select>
            </div>

            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" placeholder="Description">
            </div>
            <div>
                <label for="imageselect" class="form-label">Add Images of product</label>
                <input class="form-control" type="file" name="image_select">
            </div>



            <div class="col-12">

            <button type="submit" class="btn btn-primary"> Add Product</button>
        </div>
        </form>

    </div>


            </div>

        </div>
</div>
</div>
<script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}