{% extends 'base/seller_base.html' %}
{% load static %}

{% block seller_home %}

    {% include 'seller/handover_form.html' %}

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    {% include 'seller/summary_cards.html' %}
    <h1 class="mt-4">Products to Deliver</h1>

    <div class="row my-4">
        <table class="table table-striped">
            <thead>
            <tr>

                <th class="text-center">#</th>
                <th class="text-center">Product</th>
                <th class="text-center">Category</th>
                <th class="text-center">Brand</th>
                <th class="text-center">Customer</th>
                <th class="text-center">Customer Phone</th>
                <th class="text-center">Deliveryman</th>
                <th class="text-center">Deliveryman Phone</th>
                <th class="text-center">Status</th>
                <th class="text-center"></th>


            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ order.product }}</td>
                    <td class="text-center">{{ order.product.category }}</td>
                    <td class="text-center">{{ order.product.brand }}</td>
                    <td class="text-center">{{ order.order_set.customer.name }}</td>
                    <td class="text-center">{{ order.order_set.customer.phone }}</td>
                    <td class="text-center">{{ order.deliveryman }}</td>
                    <td class="text-center">{{ order.deliveryman.phone }}</td>
                    <td class="text-center">
                        <span class="badge rounded-pill text-bg-primary">Pickup Requested</span>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#handover_form">Handover</button>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}
