
<div class="modal fade" id="handover_form" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title text-center" id="exampleModalLabel">Confirm Deliveryman</h4>
            </div>
            <div class="modal-body">
                <p>Please enter the OTP provided by your deliveryman.</p>

                <p>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">OTP </label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" maxlength="11" id="handover_otp_input_id" >
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                          Must be 6 characters long.
                        </span>
                    </div>
                </div>


            </div>
            <div class="modal-footer d-block">
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-dismiss="modal" data-order-id="" id="btn-deliveryman-confirmation">
                        <b><i class="fa-solid fa-check"></i></b> Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>