{% extends 'base/seller_base.html' %}
{% load static %}

{% block seller_home %}
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    {% include 'seller/wallet_to_bank_form.html' %}
    {% include 'seller/summary_cards.html' %}
    {% include 'seller/inventory.html' %}
    {% include 'seller/auction_form.html' %}

    <script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}