{% extends 'base/seller_base.html' %}
{% load static %}

{% block seller_home %}
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <input type="text" id="bank_name" value="{{ seller.bank_name }}" hidden>
    <input type="text" id="bank_account" value="{{ seller.bank_acc }}" hidden>
    <input type="text" id="auction_product_id" value="0" hidden>

    {% include 'seller/inventory.html' %}

    <script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}