{% extends 'base/employee_base.html' %}
{% load static %}

{% block employee_home %}
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <h1 class="mt-4">Deliveryman List</h1>

    <div class="row my-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="">#</th>
                <th class="">Name</th>
                <th class="">Phone</th>
                <th class="">Check Orders</th>

            </tr>
            </thead>
            <tbody id="deliveryman-table-body">
            {% for employee in employees %}
                <tr>
                    <td class="">{{ forloop.counter }}</td>
                    <td class="">{{ employee.name }}</td>
                    <td class="">{{ employee.phone }}</td>
                    <td class=" btn-auction-td">
                        <a href="" data-product="{{ employee.name }}"
                        class="btn btn-outline-dark rounded-pill btn-auction" data-bs-toggle="modal"
                        data-bs-target="#intake_list_modal">
                            Check
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="intake_list_modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header d-block">
                            <h5 class="modal-title text-center" id="exampleModalToggleLabel">Order List</h5>
                        </div>
                        <div class="modal-body">
                                <div class="row my-4">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="">#</th>
                                            <th class="">Poduct Name</th>
                                            <th class="">Amount</th>
                                            <th class="">Quantity</th>
                                            <th class="" colspan="2">Accept/Reject</th>        
                                        </tr>
                                        </thead>
                                        <tbody id="deliveryman-table-body">
                                        {% for inventory in inventories %}
                                            {% if inventory.product.name == product %}
                                                <tr>
                                                    <td class="">{{ forloop.counter }}</td>
                                                    <td class="">{{ inventory.product.name }}</td>
                                                    <td class="">{{ inventory.product.amount }}</td>
                                                    <td class="">{{ inventory.product.quantity }}</td>
                                                    
                                                    <td class=" btn-auction-td">
                                                        <a href="" data-product-name="{{ inventory.product.name }}"
                                                        class="btn btn-outline-dark rounded-pill btn-auction" data-bs-toggle="modal"
                                                        data-bs-target="#intake_list_modal_{{forloop.counter}}">
                                                            Accept
                                                        </a>
                                                    </td>
                                                    <td class=" btn-auction-td">
                                                        <a href="" data-product-name="{{ inventory.product.name }}"
                                                        class="btn btn-outline-dark rounded-pill btn-auction" data-bs-toggle="modal"
                                                        data-bs-target="#intake_list_modal_{{forloop.counter}}">
                                                            Reject
                                                        </a>
                                                    </td>        
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  

                        </div>
                        <div class="modal-footer d-block">

                            <div class="text-center">
                                <button class="btn btn-primary" id="btn_change_done" data-bs-dismiss="modal" >Done</button>
                            </div>

                        </div>
                    </div>
                    </div>
                    </div>
    </div>

    <script src="{% static 'seller/js/home.js' %}"></script>

{% endblock %}